body,html{
    background-image:url("/assets/t7.jpg" );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.rightheader{
    float: right;
}
.leftheader{
    float: left;
}
ol.awardslist{
    list-style-type: none;

}
.container.img{
  width: 100%;
  height: auto;
}