
<div class="home"> 
    
    <!--<app-template>-->
        <div class="home1">
        
           <div class="container">
          <h1>About Us</h1>
          <p>The Telangana State Tourism Development Corporation (TSTDC) is a state government agency which promotes tourism in Telangana, India.</p> 
           <p> The aim of TSTDC is to provide infrastructure, conveyance and other facilities to tourists visiting Telangana.</p> 
            <p>Part of their mission is also to promote unknown tourist spots in Telangana</p>
           </div>

           <br>

           <div class="container">
            <div class="home2">
                 <div class="col-md-6">
                  <img src="assets\t5.jpg" alt="our business image" height="300" width="400">
                </div>
            
                <div class="col-md-6">
                    <img src="assets\t6.jpg" alt="our location image" height="300" width="400">
                </div>
              
            
            </div>
            </div>
        
        </div>
   <!-- </app-template>-->
    <br>
    <br>
    
</div>