<div class="card1">
    <div class="class1">
        <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
          <nav class="headernavbar">
            <div class="leftheader">
            <a class="navbar-brand" href="https://www.tourmyindia.com/">Tourism</a>&nbsp;
            </div>
    
          
            <div class="rightheader">
            <a routerLink="Home">Home</a>&nbsp;
            <a routerLink="Services">Services</a>&nbsp;
            <a routerLink="Gallery">Gallery</a>&nbsp;
            <a routerLink="Contact">Contact</a>&nbsp;
            <a routerLink="reg" target="_blank">sign up</a>&nbsp;
            <router-outlet></router-outlet>
            
            <!--
            <form action="reg\reg.component.html">
              <button>Sign up</button>
              </form>
              <button (click)="'reg\reg.component.html'">sign up</button>-->
          </div>
        </nav>
        </nav> 
        </div>

    <ng-content select=".list"></ng-content>
    <ng-content select=".galleryclass"></ng-content>
    <ng-content select=".reg"></ng-content>
    <ng-content select=".contact1"></ng-content>
    <ng-content select=".home1"></ng-content>

  
    <div class="container">
        <div class="row" >
            <div class="col-md-4">
            <p>Recognitions and awards</p>
            <ol class="awardslist">
              <li> Leading global impact investor as thought partner for strategy & operations </li>
              <li> Emerging Social Business award from CNBC & ICICI Foundation</li>
              <li>10 Must-Watch Online Training Providers in India</li>
            </ol>
            </div>
            <div class="col-md-4">
        <p>Our most popular courses </p>
            </div>
            <div class="col-md-4">
        <p>Top companies hiring you</p>
            </div>
            
        </div>
        
        </div>
        </div>
</div>
