
<div class="container">
    <div class="row" >

        <div class="col-md-4">
        <!--<p>{{x}}</p>-->
        <ol class="awardslist">
          <li> Leading global impact investor as thought partner for strategy & operations </li>
          <li> Emerging Social Business award from CNBC & ICICI Foundation</li>
          <li>10 Must-Watch Online Training Providers in India</li>
        </ol>
        </div>

        <div class="col-md-4">
    <p>Our most popular courses </p>
        </div>

        <div class="col-md-4">
    <p>Top companies hiring you</p>
        </div>
        
    </div>
    
</div>