
<div class="contact"> 
    
    <app-template>
        <div class="contact1">
        
           <div class="container">
          <img src="assets\t4.jpg" height="300" width="1000" alt="contact us image">
           </div>

           <br>

           <div class="container">
            <div class="contact">
                 <div class="col-md-4">
                  <h1>1800-512-394-1234</h1>
                  <p> Monday-Friday</p>
                  <p>8:30AM TO 5:30PM</p><br>
                </div>
            
                <div class="col-md-4">
                  <h4>CORPORATE OFFICE</h4>
                  <pre>
                    7601 southwest parkway
                    Begumpet,Hyderabad,
                    500010.
                </pre>
                </div>

                <div class="col-md-4">
                    <h4>email</h4>
                    <pre>
                        tourismdept@gmail.com
                        tourdetails@yahoo.co.in
                    </pre>
                  </div>
              
            
            </div>
            </div>
        
        </div>
    </app-template>
    <br>
    <br>
    
</div>