<div class="container">
    <h2>Services</h2>
    
    <div class="services">
    <app-template>
            <ol class="list">
                <li> <a href="https://tourism.telangana.gov.in/blogpage?id=8" target="_blank">Hotels</a></li>
                <li> <a href="https://tourism.telangana.gov.in/blogpage?id=9" target="_blank">Packages</a></li>
                <li> <a href="https://tourism.telangana.gov.in/blogpage?id=14" target="_blank">Fun activities</a></li>
                
            </ol>
    </app-template>
    </div>
    </div>
    
